# General
.DS_Store
.vscode/
.idea/

# Environment Variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.log
local_settings.py
db.sqlite3
media/
models_cache/

# Node.js
node_modules/
build/
dist/
dist-ssr/
typings/
*.tsbuildinfo
.npm
*.local

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
